numpy
pandas
matplotlib
scipy # for reading/writing wav files
pillow
seaborn

# tooling
jupyter
jupytext
ipywidgets
jupyter-contrib-nbextensions

ipythontutor
nbautoeval
nb-courselevels

rise

nbprune
