# Jupyter Book settings

title: Python Numérique
author: Valérie Roy & Thierry Parmentelat
logo: media/logo-python.svg

repository:
  url: https://github.com/ue12-p22/python-numerique
  branch: main
  path_to_book: notebooks

html:
  use_repository_button: yes
  use_edit_page_button: yes
  use_issues_button: yes
  extra_footer: |
    <p>Licence CC BY-NC-ND</p>

###

only_build_toc_files: true

execute:
#  execute_notebooks: "force"
  execute_notebooks: cache

sphinx:
  config:
    nb_custom_formats:
      .py:
        - jupytext.reads
        - fmt: py:percent
    html_show_copyright: false
    # from https://jupyterbook.org/en/stable/advanced/html.html#manually-specify-extra-files-folders-to-be-included-in-a-website
    # not quite convincing but...
    html_extra_path: ['media']

# for raw <img> tags in markdown
parse:
  myst_enable_extensions:
    - html_image

